---
layout: default
title: Projects
permalink: Projects
---
<h2>Code I've Developed</h2>
<ul class="list-group">
{% for code in site.data.projects.personal%}
    <li class="list-group-item">
        <h4>{{ code.title }}</h4>
        <p>{{ code.description | markdownify }}</p>
    </li>
{% endfor %}
</ul>
<h2>Packages I've Contributed to</h2>
<ul class="list-group">
{% for code in site.data.projects.contributing%}
    <li class="list-group-item">
        <h4>{{ code.title }}</h4>
        <p>{{ code.description | markdownify }}</p>
    </li>
{% endfor %}
</ul>