[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = https://github.com/danielfrg/pelican-ipynb.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "content/notebooks/moleskine"]
	path = content/notebooks/moleskine
	url = https://github.com/wtbarnes/moleskine.git
[submodule "resume"]
	path = resume
	url = https://github.com/wtbarnes/resume.git
[submodule "themes/pelican-themes"]
	path = themes/pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
